[
  {
    "icon": "mdi-view-dashboard",
    "text": "Dashboard",
    "route": "/",
    "permitAll": true,
    "roles": null
  },
  {
    "icon": "mdi-history",
    "text": "Historic",
    "route": "/historic",
    "permitAll": true,
    "roles": null
  },
  {
    "icon": "mdi-cog",
    "text": "Settings",
    "route": "/settings",
    "permitAll": false,
    "roles": ["ADMIN"]
  }
]
